
.DS_Store
/.idea
/WebviewDemo/.idea
/WebviewDemo/gradle
/WebviewDemo/release
/zip/testdata
/app/bin
/app/html/.vite
/app/html/dist
/app/html/src/.vscode
apkEditor.exe
apkEditor
apkEditor_intel
webview.apk
/app/release
